<div class="tasks" ng-repeat="task in dc.tasks">
    <div class="task col-md-4">
        <div class="panel" ui-sref="questionsList({id:task._id})">
            <div class="title">{{task.title}}</div><hr class="task-hr">
            <div class="task-body">
                <span class="desc"><b>Description:</b> {{task.description}}</span><br />
                <span class="status"><b>Status:</b>{{task.status}}</span><br />
                <span class="startDate"><b>Start date:</b>{{task.startDate}}</span><br />
            </div>
        </div>
    </div>
</div>